<h1 class="jumbotron text-center" id="indextron">proof toil</h1>
<div class="row text-center" id="me-text">
	<p>
		<i>Here Are a few little projects I've been working on. The proof is in the toil.</i>
	</p>
</div>
<div class="row">
	<div class="col-md-offset-1">
		<div class="thumbnail col-md-3 text-center fblock" id="mapb">
				<%= link_to "Map", new_location_path(@location) %>
		</div>
		<div class="thumbnail col-md-3 text-center fblock" id="weatherb">
				<%= link_to "Weather", weather_path %>
		</div>
		<div class="thumbnail col-md-3 text-center fblock" id="shopb">
			<a href="allproducts" id="sweetpet">
				Sweet Pets
			</a>
		</div>
	</div>
</div>
