<h1 class="jumbotron text-center" id="indextron">proof toil</h1>
<div class="row text-center" id="me-text">
	<p>
		<i>Here Are a few little projects I've been working on. The proof is in the toil.</i>
	</p>
</div>
<div class="row">
	<div class="col-md-offset-1">
		<div class="thumbnail col-md-5 text-center fblock" id="mapb">
			<p>
				<%= link_to "the Map", new_location_path(@location) %>
			</p>
		</div>
		<div class="thumbnail col-md-5 text-center fblock" id="weatherb">
			<p>
				<%= link_to "the Weather", weather_path %>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1">
		<div class="thumbnail col-md-5 text-center fblock">
			<p>the Blog</p>
		</div>
		<div class="thumbnail col-md-5 text-center fblock" id="shopb">
			<p>the Store</p>
		</div>
	</div>
</div>