// Place all the styles related to the Storefront controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-pics {
	height: 115px;
}
.my-modal-pics {
	width: 875px;
}
// .my-modal {
// 	width: 1000px;
// }

.desc {
	// overflow: scroll;
}

.store-well{
	height: 350px;
	padding: 5px;

	overflow: hidden;


}

