// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#indextron {
	background-color: #c4f433;
	border-radius: 20px;
	color: #646661
}

#metext {
	color: #646661;
}

.fblock {
	height: 200px;
	width: 225px;
	color: #646661;
	margin: 7px;
	border-radius: 30px;


}

.fblock:hover {
	box-shadow: 10px 10px  5px #888888;
}

.grows {
	height: 225px;
	width: 250;
}

#grew {
	height: 200px;
	width: 225;
}

#mapb {
	background-image: url('gmap1.jpg');
	background-size: cover;
}
#weatherb {
	background-image: url('weather2.png');
	background-color: contain;
}
#shopb {
	size: 30;
	border: thick;
	background-color: cover;
}