// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#indextron {
	background-color: #c4f433;
	border-radius: 20px;
	color: #646661
}

#metext {
	color: #646661;
}

.fblock {
	height: 70px;
	color: #646661;
	padding: 20px;
	border-radius: 30px;
}